<div layout="row">
  <div flex="35"></div>
  <div flex="30">
      <md-content class="md-no-momentum">
         <section layout="row" layout-md="column" layout-align="center center" layout-wrap>
            <h1>Successfully Logged In</h1></br>
         </section>
         <section layout="row" layout-md="column" layout-align="center center" layout-wrap>
            <h3>UserId: {{id}} </h3></br>
         </section>
         <section layout="row" layout-md="column" layout-align="center center" layout-wrap>
            <h3>Email: {{email}} </h3></br>
         </section>
         <section layout="row" layout-md="column" layout-align="center center" layout-wrap>
            <md-button class="md-primary" ng-href="" ng-click="logout();">Logout</md-button>
         </section>
      </md-content>
  </div>
  <div flex="35"></div>
</div>